* {
  margin: 0;
  padding: 0;
}



div {
  font-family: sans-serif;
  text-align: right;
}

button {
  background-color: #008cba; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: auto auto;
  cursor: pointer;
}

a {
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: white;
  margin: 30px;
}